:root{
    --main-bg: #E8B951;
    --secondary-bg: rgba(255, 255, 255, 0.571);

    --blue-color: #65CAFF;

    --main-font: 'Noto Sans JP', sans-serif;
    --secondary-font: 'IBM Plex Sans', sans-serif;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.2rem;
}

body {
    margin: 0;
    text-align: center;
    background-color: var(--main-bg);
    font-family: var(--main-font);
}
header{
    /* background-color: #E8B951; */
    padding: 2em 0;
} 

.input-container{
    padding: 2em 0;
    background-color: var(--secondary-bg);
}

.header-gif{
    object-fit: contain;
    height: 30%;
    width: 30%;
}

.btn{
    margin: 0.7em;
    background-color: var(--blue-color);
    border-style: none;
    padding: 0.3em;
    font-size: 1.2rem;
    border-radius: 5%;
    outline-style: none;
    color: white;
}


.secondary-temp, .detail{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.secondary-temp{
    background-image: url('https://b.kisscc0.com/20180815/qaq/kisscc0-cloud-sky-theme-blue-simple-clouds-5b748a162c3ec0.9453061615343641821812.png');
    /* background-color: rgba(255, 255, 255, 0.468); */
    background-size: contain;
    background-repeat: repeat;
}
.secondary-temp div, .detail div{
    text-align: center;
    background-color: var(--secondary-bg);
    width: 200px;
    height: 200px;
    align-items: center;
}

.seperator{
    visibility: hidden;
    border-top: 0.3em solid black;
}

.loading{
    display: flex;
    justify-content: center;
    margin: 2em;
}
.loading-point{
    visibility: hidden;
    background-color: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 5px;
}

.animate-first{
    animation: loadingKeyFrame 1.7s ease-in-out;
    animation-iteration-count:  infinite;
}
.animate-second{
    animation: loadingKeyFrame 1.7s ease-in-out 0.5s;
    animation-iteration-count:  infinite;
}
.animate-third{
    animation: loadingKeyFrame 1.7s ease-in-out 1s;
    animation-iteration-count:  infinite;
}

@keyframes loadingKeyFrame{
    0%{
        background-color: white;
    }
    50%{
        background-color: var(--blue-color);
    }
    100%{
        background-color: white;
    }
}